NEXT_PUBLIC_SUPABASE_URL=add_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=add_key
NEXT_PUBLIC_SITE_URL=http://localhost:3000
RESEND_API_KEY=add_resend_api_key
ARDUINODAYPH_SENDER_EMAIL=you@example.com
ARDUINODAYPH_SENDER_PASSWORD=your_app_password
ARDUINODAYPH_SENDER_NAME=Arduino Day Philippines